:root{
    --main-color: rgb(195, 236, 195);
    --accent-color: rgb(31, 88, 31);
}
*{
    margin: auto;
    font-size: 16px;
    padding: 10px;
    color: var(--accent-color);
}
body{
    padding-top: 10px;
    background-color: black;
}
/*nav styling*/
nav {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(53, 52, 52, 0.781);
    background-color: var(--main-color);
    color: var(--accent-color);
   }
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    list-style-type:none;
    float:right;
   }
   .menu li:hover {
    background-color: white;
    border-radius: 10px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }   
   .title {
    font-size: 17px;
    font-family: Helvetica;
    color: black;
   }
   /*end of nav styling*/

   